#!/usr/bin/env xdg-open

[Desktop Entry]
Type=Application
Version=1.5
Name=Bookmarklet Generator
Exec=xdg-open https://purl.org/meta/bookmarklet-generator/
Terminal=false
